<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header col-xs-12">
            <a class="navbar-brand" href="#">BrüeschTasks</a>

            <div class="navbar-btn text-right" style="vertical-align: middle">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-xs btn-primary" type="submit">Logout</button>
                </form>
            </div>
        </div>

    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-xs-12">
            <!--Enter new Entries-->
            <button class="btn btn-done btn-block" type="button" data-toggle="collapse" data-target="#collapseAddTask" aria-expanded="false" aria-controls="collapseAddTask">
                Add new Task
            </button>
            <br>
            <div class="collapse" id="collapseAddTask">

                <form action="#" th:action="@{/api/addEntry}" th:object="${entry}" method="post">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input id="description" type="text" th:field="*{description}" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="priority">Priority</label>
                        <select id="priority" th:field="*{priority}" class="form-control">
                            <option value="HIGH">High</option>
                            <option value="LOW">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input id="date" type="date" th:field="*{date}" class="form-control" placeholder="Date in format (yyyy-MM-dd)">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>


        </div>

        <div class="col-xs-12">

            <!--Tasks for Today-->
            <h3>Tasks for Today</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Priority</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${todaystasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.date}"></td>
                    <td th:text="${task.priority}"></td>
                    <td class="text-right">
                        <form action="#" th:action="@{/api/removeEntry}" method="post">
                            <input type="hidden" th:value="${todaystasks.indexOf(task)}" name="index">
                            <button type="submit" class="btn btn-xs btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>


            <!--Table with Entries-->

            <h3>All Tasks</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Priority</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message : ${messages}">
                    <td th:text="${message.description}"></td>
                    <td th:text="${message.date}"></td>
                    <td th:text="${message.priority}"></td>
                    <td class="text-right">
                        <form action="#" th:action="@{/api/removeEntry}" method="post">
                            <input type="hidden" th:value="${messages.indexOf(message)}" name="index">
                            <button type="submit" class="btn btn-xs btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>


    </div>

</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>