<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BrüeschTasks - Open Shift / Spring Boot / Thymeleaf / Swagger Example</a>
        </div>
    </div>
</nav>

<div class="container">

    <!--Table with Entries-->

    <h3>Tasks</h3>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.description}"></td>
            <td th:text="${message.date}"></td>
            <td th:text="${message.priority}"></td>
            <td class="text-right">
                <form action="#" th:action="@{/api/removeEntry}" method="post">
                    <input type="hidden" th:value="${messages.indexOf(message)}" name="index">
                    <button type="submit" class="btn btn-xs btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>


    <!--Enter new Entries-->
    <hr>
    <h3>Add new Task</h3>

    <form action="#" th:action="@{/api/addEntry}" th:object="${entry}" method="post">
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" th:field="*{description}" class="form-control" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority" th:field="*{priority}" class="form-control">
                <option value="HIGH">High</option>
                <option value="LOW">Low</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>


</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>